:root {
  --gradientTop: #6b078c;
  --gradientBottom: #402d5a;
}

html,body
{
  overflow: hidden;
  background-image: linear-gradient(var(--gradientTop),var(--gradientBottom));
  padding: 0;
  margin: 0;
}

h1
{
  font-size: 8rem;
  margin: 0px;
  font-family: "Freckle Face";
  text-shadow: 0px 5px rgba(0, 0, 0, 0.5);
  color: white;
}

.freckle-face-regular
{
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

.background
{
  position: absolute;
  background: transparent;
  width: 100dvw;
  height: 100dvh; 
  display: flex;
  z-index: 1;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.menu
{
  background: rgba(128, 128, 128, 0.5);
  width: 90dvw;
  max-width: 400px;
  height: 60dvh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 25px;
  border: 5px solid black;
  align-items: center;
  justify-content: space-evenly;
}

.menuButton
{
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(var(--gradientTop), var(--gradientBottom));
  width: 70%;
  border: 2px solid black;
  border-radius: 10px;
}

.mwdialogue
{
  display: flex;
  font-family: "Freckle Face";
  /* line-height: 150px; */
  color: var(--gradientTop);
  font-weight: bold;
  /* font-family: sans-serif; */
  vertical-align: middle;
  text-align: center;
  width: calc(100dvw - 40px); 
  background: rgb(128, 128, 128);
  height: 150px;
  position: absolute;
  left: 20px;
  bottom: 25px;
  border: 4px solid var(--gradientBottom);
  border-radius: 25px;

  justify-content: center;
  align-items: center;
}